{% block body %}
<style>

.carte{
    background-color: white;
    margin-left: 40px;
    margin-top:5%;
    width: 25%;
    padding:20px;
    float:left;
    margin-right:30px;
    text-align:center;
    color:black;
    border-radius:10px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.carte:hover{
    color:#0B6DB8;
}

</style>
{% include 'bases/header.html.twig' %}

    <div style="float:right; margin-right:20px;font-size:20px;" class="container-xl col-md-9" style="font-family: 'Roboto', sans-serif;">
      <a href="{{ path('app_g_clients') }}" >
        <div class="carte">
            <i style="font-size:120px;" class="bi bi-people-fill"></i>
            <h2>Gestion des <br>Clients</h2>
          </div>
        </a>
        <a href="" >
        <div class="carte">
          <i style="font-size:120px;" class="bi bi-reception-4"></i>
          <h2>Gestion des Hebergements</h2>
        </div> 
        </a>
        <a href="" >
         <div class="carte">
          <i style="font-size:120px;" class="bi bi-people-fill"></i>
          <h2>Gestion des Noms des domaines</h2>
        </div> 
        </a>  

    </div> 

{% include 'bases/slidebar.html.twig' %}

{% endblock %}