<style>
.btn:hover{
     box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);

}
a:hover{
    text-decoration:none;
}

</style>

<div class="slide card col-md-2." >
        <a href="{{ path('app_dhashbord')}}"><button type="button" style="font-size:24px; margin-bottom:40px;" class="btn btn-primary btn-lg btn-block"><i class="bi bi-house-door-fill"> </i>Dhashbord</button></a>
       <a href="{{ path('app_address') }}"> <button type="button" style="font-size:24px;margin-bottom:40px" class="btn btn-primary btn-lg btn-block"><i class="bi bi-globe"></i>
Plan d'adresse</button></a>
 
       <a href="{{ path('app_admin') }}"> <button type="button" style="font-size:24px;margin-top:70%" class="btn btn-primary btn-lg btn-block"><i class="bi bi-gear"></i>
Administrateur</button></a>

    </div>